@model OSA.Web.ViewModels.Suppliers.Input_Models.ShowSupplierByCompanyInputModel
@{
    this.ViewData["Title"] = "Show Supplier";
}

<div class="row">
    <div class="col-md-4">
            <form method="post">
                <h3>Избери Фирма</h3>
                <partial name="_FlashMessageTypePartial" />
                <div class="form-group">
                    <select id="dropdowntipo" asp-for="CompanyId" class="form-control">
                        <option value="0" hidden disabled selected>Избери Фирма</option>
                        @foreach (var name in Model.CompanyNames)
                        {
                            <option value="@name.Value">@name.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">OK</button>
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
