/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    word-break: break-all;
    color: white;
}
.navbar ul a {
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
}
.navbar ul li a {
    vertical-align: middle;
    text-align: center;
    padding-top: 11px;
}
.navbar-nav ul {
    vertical-align: middle;
    color: white;
    padding-top: 11px;
}
.dropdown-menu {
    text-align: left;
}
.navbar .fa{
    margin: 3px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
    
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    color: white;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
/* Background Image
-------------------------------------------------- */
#container-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-size: 300px;*/
    /*background-position: right bottom !important;*/
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;*/
    width: 1100px;
    height: 540px;
    overflow: hidden
}
/* BackgroundRegister Image
-------------------------------------------------- */
#container-backgroundRegister {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 940px;
    height: 600px;
    overflow: hidden
}
/* BackgroundLogin Image
-------------------------------------------------- */
#container-backgroundRegister {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 940px;
    height: 600px;
    overflow: hidden
}
