@using OSA.Common
@using OSA.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Фирми
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Add">Регистрация на фирма</a>
                <a class="dropdown-item" asp-area="" asp-controller="Supplier" asp-action="Add">Регистрация на доставчик</a>
                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Get">Списък на фирми</a>
                <a class="dropdown-item" asp-area="" asp-controller="Supplier" asp-action="GetCompany">Списък на доставчици</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Фактури
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="AddPartOne">Осчетоводи фактура</a>
                <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="GetCompany">Списък на фактурите</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Стоки
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Stock" asp-action="AddPartOne">Регистрация на стока</a>
                <a class="dropdown-item" asp-area="" asp-controller="Purchase" asp-action="Add">Регистрация на месечни покупки</a>
                <a class="dropdown-item" asp-area="" asp-controller="Sale" asp-action="AddPartOne">Регистрация на месечна продажба</a>
                <a class="dropdown-item" asp-area="" asp-controller="Stock" asp-action="GetCompany">Списък на стоки</a>
                <a class="dropdown-item" asp-area="" asp-controller="Purchase" asp-action="GetCompany">Списък на покупки</a>
                <a class="dropdown-item" asp-area="" asp-controller="Sale" asp-action="GetCompany">Списък на продажби</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Наличност
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="AvailableStock" asp-action="Add">Добавяне на месечна наличност</a>
                <a class="dropdown-item" asp-area="" asp-controller="AvailableStock" asp-action="GetCompany">Списък на наличноста</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Разходна Книга
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="ProductionInvoice" asp-action="Add">Регистрация на касов ордер</a>
                <a class="dropdown-item" asp-area="" asp-controller="ExpenseBook" asp-action="Add">Добавяне на месечна разходна книга</a>
                <a class="dropdown-item" asp-area="" asp-controller="ProductionInvoice" asp-action="GetCompany">Списък на разходен ордър</a>
                <a class="dropdown-item" asp-area="" asp-controller="ExpenseBook" asp-action="GetCompany">Списък на разходната книга</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Касова Книга
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="CashBook" asp-action="Add">Добавяне на месечна касова книга</a>
                <a class="dropdown-item" asp-area="" asp-controller="CashBook" asp-action="GetCompany">Списък на касовата книга</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@(this.User.Identity.Name)</a>
        </li>

        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}