@using OSA.Common
@using OSA.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Add">Register A Company</a>
                <a class="dropdown-item" asp-area="" asp-controller="Supplier" asp-action="Add">Register A Supplier</a>
                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Get">Show List Of All Companies</a>
                <a class="dropdown-item" asp-area="" asp-controller="Supplier" asp-action="GetCompany">Show List Of All Suppliers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Invoice
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="AddPartOne">Register A Supplier Invoice</a>
                <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="GetCompany">Show Invoices By Company</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stock
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Stock" asp-action="AddPartOne">Register A Stock</a>
                <a class="dropdown-item" asp-area="" asp-controller="Purchase" asp-action="Add">Register Monthly Purchases</a>
                <a class="dropdown-item" asp-area="" asp-controller="Sale" asp-action="AddPartOne">Register A Monthly Sale</a>
                <a class="dropdown-item" asp-area="" asp-controller="Stock" asp-action="GetCompany">Show Stocks By Company</a>
                <a class="dropdown-item" asp-area="" asp-controller="Sale" asp-action="GetCompany">Show Monthly Sales</a>
                <a class="dropdown-item" asp-area="" asp-controller="Purchase" asp-action="GetCompany">Show Monthly Purchases</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Book Value
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="BookValue" asp-action="Add">Register A Book Value For A Stock</a>
                <a class="dropdown-item" asp-area="" asp-controller="AvailableStock" asp-action="Add">Calculate Monthly Avalable Stock</a>
                <a class="dropdown-item" href="#">Show Book Values By Company</a>
                <a class="dropdown-item" href="#">Show all Available Stock</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Expense Book
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="ProductionInvoice" asp-action="Add">Register a Production Invoice</a>
                <a class="dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Add">Register a Receipt</a>
                <a class="dropdown-item" asp-area="" asp-controller="ExpenseBook" asp-action="Add">Calculate Monthly Expense Book</a>
                <a class="dropdown-item" href="#">Show all Production Invoices</a>
                <a class="dropdown-item" href="#">Show all Receipts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cash Book
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="CashBook" asp-action="Add">Calculate Monthly Cash Book</a>
                <a class="dropdown-item" href="#">Display Monthly Cash Book</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@(this.User.Identity.Name)</a>
        </li>

        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}