@model OSA.Web.ViewModels.Companies.View_Models.CompanyBindingViewModel
@{
    this.ViewData["Title"] = "Get Company";
}

<div class="text-center">
    <h3>Списък на Фирми</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Име на Фирма</th>
                    <th>Булстат</th>
                    <th>Редактирай</th>
                </tr>
                @foreach (var company in Model.Companies)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td>@company.Name</td>
                        <td>@company.Bulstat</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Company" asp-route-Id="@company.Id" class="btn btn-primary m-1">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
