@model OSA.Web.ViewModels.ProductionInvoices.Input_Models.EditProductionInvoiceViewModel
@{
    this.ViewData["Title"] = "Edit ProductionInvoice";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h3>Редактирай Касов Ордер</h3>
            <partial name="_FlashMessageTypePartial" />
            <div class="form-group">
                <label asp-for="InvoiceNumber"></label>
                <input asp-for="InvoiceNumber" class="form-control">
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" id="picker" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control">
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalCost"></label>
                <input asp-for="ExternalCost" class="form-control">
                <span asp-validation-for="ExternalCost" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <input type="button" value="BACK" class="btn btn-primary" onclick="location.href='javascript:history.go(-1)'" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".picker").datetimepicker({
            format: "dd/MM/yyyy",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>
}
