@model OSA.Web.ViewModels.Purchases.Input_Models.CreatePurchaseInputModelOne
@{
    this.ViewData["Title"] = "Add Purchase";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h3>Step 1:</h3>
            <div class="form-group">
                <label asp-for="CompanyId"></label>
                <select id="dropdowntipo" asp-for="CompanyId" class="form-control">
                    <option value="0" hidden disabled selected>Select Company</option>
                    @foreach (var name in Model.CompanyNames)
                    {
                        <option value="@name.Value">@name.Text</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
