@model OSA.Web.ViewModels.Sells.Input_Models.CreateSellInputModelTwo
@{
    this.ViewData["Title"] = "Add Sell";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h1>Monthly Sell</h1>
            <h3>Step 2:</h3>
            <partial name="_FlashMessageTypePartial" />
            <div class="form-group">
                <label asp-for="StockName"></label>
                <select id="dropdowntipo" asp-for="StockName" class="form-control">
                    <option value="0" hidden disabled selected>Select Stock</option>
                    @foreach (var name in Model.StockNames)
                    {
                        <option>@name.Text</option>
                    }
                </select>
                <span asp-validation-for="StockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice"></label>
                <input asp-for="TotalPrice" class="form-control">
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfitPercent"></label>
                <input asp-for="ProfitPercent" class="form-control">
                <span asp-validation-for="ProfitPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" id="picker" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".picker").datetimepicker({
            format: "dd/MM/yyyy",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>
}
