@model OSA.Web.ViewModels.Stocks.Input_Models.CreateStockInputModelTwo
@{
    this.ViewData["Title"] = "Add Stock";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h1>Create A Stock</h1>
            <h3>Step 2:</h3>
            <partial name="_FlashMessageTypePartial" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" id="picker" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId"></label>
                <select id="dropdowntipo" asp-for="InvoiceId" class="form-control">
                    <option value="0" hidden disabled selected>Select Invoice Number</option>
                    @foreach (var name in Model.Invoices)
                    {
                        <option value="@name.Value">@name.Text</option>
                    }
                </select>
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".picker").datetimepicker({
            format: "dd/MM/yyyy",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>
}
