@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h4><partial name="_SuccessfullyRegisteredMessage" /></h4>
        <p>ONE-SIDED ACCOUNTING</p>
    </div>
<div id="container-background">
    <div id="container"><img src="~/Image/Background.jpg" /></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
