@model OSA.Web.ViewModels.BookValues.Input_Models.CreateBookValueInputModel
@{
    this.ViewData["Title"] = "Add BookValue";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h1>Monthly Book Values</h1>
            <partial name="_FlashMessageTypePartial" />
            <div class="form-group">
                <label asp-for="CompanyId"></label>
                <select id="dropdowntipo" asp-for="CompanyId" class="form-control">
                    <option value="0" hidden disabled selected>Select Company</option>
                    @foreach (var name in Model.CompanyNames)
                    {
                        <option value="@name.Value">@name.Text</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" id="picker" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" id="picker" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" id="picker" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".picker").datetimepicker({
            format: "dd/MM/yyyy",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>
}
