@model OSA.Web.ViewModels.Sales.Input_Models.CreateSaleInputModelOne
@{
    this.ViewData["Title"] = "Add Sale";
}

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <h3>Месечни Продажби</h3>
                <partial name="_FlashMessageTypePartial" />
                <div class="form-group">
                    <label asp-for="CompanyId"></label>
                    <select id="dropdowntipo" asp-for="CompanyId" class="form-control">
                        <option value="0" hidden disabled selected>Избери фирма</option>
                        @foreach (var name in Model.CompanyNames)
                        {
                            <option value="@name.Value">@name.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">OK</button>
            </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
