@model OSA.Web.ViewModels.Invoices.View_Models.InvoiceBindingViewModel
@inject OSA.Services.Data.ISuppliersService suppliersService
@{
    this.ViewData["Title"] = "Get Invoice";
}

<div class="text-center">
    <h3>List of Invoices for @Model.Name</h3>
    <div class="col-md-12">
        <center>
            <table border="0">
                <tr>
                    <th>ID</th>
                    <th>Invoice Number</th>
                    <th>Issue Date</th>
                    <th>Supplier Name</th>
                </tr>
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td>@invoice.Id</td>
                        <td>@invoice.InvoiceNumber</td>
                        <td>@invoice.Date.ToShortDateString()</td>
                        <td>@await this.suppliersService.GetSupplierNameBySupplierIdAsync(invoice.SupplierId)</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
